@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

#title{
    grid-row: 1/2;
    text-align: center;
    font-size: xx-large;
    font-family: 'Righteous', cursive;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    background-color: lightgrey;
}

#gallery-btn{
    width: 10%;
}

.camera-div{
    width: 70%;
    border: 2px solid white;
    border-radius: 20%;
    color: white;
    position: relative;
    left: 20%;
    padding-bottom: 5%;
    margin-bottom: 10%;
}

.reset-status-btn{
    background-color: #b8c9f5;
}


/* #scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
} */
  
#scroll-container img {
    padding: 10px;
    color: antiquewhite;
    width: 95%;
    height: 50em;
}